In [1]:
import requests
import pandas as pd
from datetime import datetime
import os
from bs4 import BeautifulSoup
import unicodedata

# Search for the data and download

In [2]:
# Configuration

# assume landing page url does not change
landing_page_url = "https://mk.gov.cz/evidence-knihoven-adresar-knihoven-evidovanych-ministerstvem-kultury-a-souvisejici-informace-cs-341"
download_folder = "data"  # name of the folder can be adjusted

os.makedirs(download_folder, exist_ok=True)

def find_xlsx_file_url(html_content, base_url):
    ''' Finds the url of the xlsx file. The expectation is that the first .xlsx
    file link on the webpage is the file containing the list of libraries.'''

    print("Parsing the landing page to find the XLSX file link...")
    soup = BeautifulSoup(html_content, 'html.parser')

    # Look for any 'a' tag with an href ending in .xlsx
    xlsx_link = soup.find('a', href=lambda href: href and href.endswith('.xlsx'))

    if xlsx_link:
        file_href = xlsx_link['href']
        # Check if the URL is absolute or relative
        if file_href.startswith('http'):
            full_file_url = file_href
        else:
            # Construct the full URL for relative links
            full_file_url = base_url + file_href
        print(f"Found file URL: {full_file_url}")
        return full_file_url

    raise Exception("Could not find a link to an .xlsx file on the landing page.")

def download_file(file_url):
    '''Downloads the .xlsx file and saves it.'''
    filename = file_url.split(sep='/')[-1]
    new_filename = os.path.join(download_folder, filename)
    response = requests.get(file_url)
    response.raise_for_status()
    # check if data already exists in folder
    if os.path.exists(new_filename):
        print(f"File already exists at: {new_filename}")
        return new_filename
    # save the data
    with open(new_filename, 'wb') as f:
        f.write(response.content)
    print(f"File is saved at: {new_filename}")
    return new_filename

In [3]:
# Download and save the file
try:
    print(f"Downloading landing page: {landing_page_url}")
    page_response = requests.get(landing_page_url)
    page_response.raise_for_status()

    # Find the file URL from the landing page content
    file_url_to_download = find_xlsx_file_url(page_response.content, "https://mk.gov.cz")

    # Download the actual file
    file = download_file(file_url_to_download)

except Exception as e:
    result_message = f"ERROR - {e}"

Downloading landing page: https://mk.gov.cz/evidence-knihoven-adresar-knihoven-evidovanych-ministerstvem-kultury-a-souvisejici-informace-cs-341
Parsing the landing page to find the XLSX file link...
Found file URL: https://mk.gov.cz/doc/cms_library/evidence-knihoven-06082025-20693.xlsx
File already exists at: data/evidence-knihoven-06082025-20693.xlsx

# Data Preprocessing

## First look at the data

In [4]:
# load the data into a pandas dataframe
df = pd.read_excel(file)

/usr/local/lib/python3.12/dist-packages/openpyxl/reader/workbook.py:118: UserWarning: Print area cannot be set to Defined name: Tabulka1[#All].
  warn(f"Print area cannot be set to Defined name: {defn.value}.")

In [5]:
# first glance at the data
df.head()

,Název provozovatele,B/H - IČ provozovatele (u fyzické osoby pokud bylo přiděleno),C/CH - sídlo/adresa; místo trvalého pobytu fyz. osoby - ulice,C/CH - sídlo/adresa; místo trvalého pobytu fyz. osoby - PSČ,C/CH - sídlo/adresa; místo trvalého pobytu fyz. osoby - obec,C/CH - sídlo/adresa; místo trvalého pobytu fyz. osoby - okres,C/CH - sídlo/adresa; místo trvalého pobytu fyz. osoby - kraj,"C/CH - datová schránka, má-li ji subjekt zřízenou",D - předmět činnosti,E - právní forma,...,T - datum evidence knihovny,XXT - schvalovatel záznamu,U - datum aktualizace záznamu,XXU - schvalovatel aktualizace záznamu,aktivní / zrušená (vyřazená z evidence),V - datum vyřazení,XXV - vyřadil z evidence,W - důvod vyřazení z evidence,Y - číslo jednací,Poznámka
0,Obec Kralice na Hané,288390,Masarykovo náměstí 41,798 12,Kralice na Hané,Prostějov,Olomoucký,NaN,obecní úřad,NaN,...,2002-07-15 00:00:00,Čermáková,NaN,NaN,A,NaN,,NaN,k 17457/2001,NaN
1,Obec Lukavice,270431,Lukavice,538 21,Slatiňany,Chrudim,Pardubický,NaN,obecní úřad,NaN,...,2002-07-15 00:00:00,Čermáková,NaN,NaN,A,NaN,,NaN,k 205984/2001,NaN
2,Muzeum Beskyd Frýdek-Místek,95630,Hluboká 66,738 01,Frýdek-Místek,Frýdek-Místek,Moravskoslezský,NaN,"uchování, zpracování a zpřístupňování sbírek m...",NaN,...,2002-07-15 00:00:00,Čermáková,NaN,NaN,A,NaN,,NaN,k 20588/2001,NaN
3,Městská kulturní zařízení v Bělé pod Bezdězem,62451502,Masarykovo náměstí 140,294 21,Bělá pod Bezdězem,Mladá Boleslav,Středočeský,NaN,zajišťování kulturních hodnot a aktivit,NaN,...,2002-07-15 00:00:00,Čermáková,NaN,NaN,A,NaN,,NaN,k 606/2002,NaN
4,Město Loket,259489,T. G. Masaryka 1,357 33,Loket,Sokolov,Karlovarský,NaN,městský úřad,NaN,...,2002-07-15 00:00:00,Čermáková,NaN,NaN,A,NaN,,NaN,k 499/2002,NaN

In [6]:
df.iloc[:,9:27].head()  # check the rest of the columns

,E - právní forma,G - datum narození provozovatele - fyzické osoby,I - NÁZEV KNIHOVNY,R - EVIDENČNÍ ČÍSLO KNIHOVNY,J - druh knihovny,Kategorie - pomocný sloupec,K - adresa knihovny: ulice,K - adresa knihovny: PSČ,K - adresa knihovny: město,K - adresa knihovny: okres,K - adresa knihovny: kraj,M - emailový kontakt na autora záznamu,N - e-mailový kontakt na knihovnu,"O - odkaz na webovou stránku knihovny, respektive odkaz na informace o knihovně na webových stránkách provozovatele",P - provozní doba knihovny,Q - další informace,X - sigla,S - datum vytvoření záznamu
0,NaN,NaN,Základní knihovna v Kralicích na Hané,1,základní,public,Masarykovo náměstí 41,798 12,Kralice na Hané,Prostějov,Olomoucký,NaN,,NaN,,NaN,,2003-05-23
1,NaN,NaN,Základní knihovna v Lukavici,2,základní,public,Lukavice 1,538 21,Slatiňany,Chrudim,Pardubický,NaN,,NaN,,NaN,,2003-05-23
2,NaN,NaN,Studijní knihovna Muzea Beskyd Frýdek - Místek,3,základní se specializovaným knihovním fondem,muzejní,Hluboká 66,738 01,Frýdek-Místek,Frýdek-Místek,Moravskoslezský,NaN,muzeumbeskyd@telecom.cz,NaN,"9.00-11.00, 13.00-14.30 - 9.00-11.00, 13.00-...",NaN,FMR 301,2003-05-23
3,NaN,NaN,Městská knihovna Vladimíra Holana,4,základní,public,Masarykovo náměstí 140,294 21,Bělá pod Bezdězem,Mladá Boleslav,Středočeský,NaN,mekz@knihovnabelapb.cz,NaN,,NaN,MBG 505,2003-05-23
4,NaN,NaN,Městská knihovna Loket,5,základní,public,T. G. Masaryka 96,357 33,Loket,Sokolov,Karlovarský,NaN,,http://www.mkloket.cz,,NaN,SOG501,2003-05-23

In [7]:
print("\nData shape:", df.shape)

Data shape: (6716, 37)

In [8]:
# Basic info, including column names, dtype, non-null counts
print(df.info(show_counts=True))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6716 entries, 0 to 6715
Data columns (total 37 columns):
 #   Column                                                                                                               Non-Null Count  Dtype
---  ------                                                                                                               --------------  -----
 0   Název provozovatele                                                                                                  6716 non-null   object
 1   B/H - IČ provozovatele (u fyzické osoby pokud bylo přiděleno)                                                        6716 non-null   int64
 2   C/CH - sídlo/adresa; místo trvalého pobytu fyz. osoby - ulice                                                        6716 non-null   object
 3   C/CH - sídlo/adresa; místo trvalého pobytu fyz. osoby - PSČ                                                          6716 non-null   object
 4   C/CH - sídlo/adresa; místo trvalého pobytu fyz. osoby - obec                                                         6716 non-null   object
 5   C/CH - sídlo/adresa; místo trvalého pobytu fyz. osoby - okres                                                        6716 non-null   object
 6   C/CH - sídlo/adresa; místo trvalého pobytu fyz. osoby - kraj                                                         6716 non-null   object
 7   C/CH - datová schránka, má-li ji subjekt zřízenou                                                                    44 non-null     object
 8   D - předmět činnosti                                                                                                 6682 non-null   object
 9   E - právní forma                                                                                                     146 non-null    object
 10  G - datum narození provozovatele - fyzické osoby                                                                     0 non-null      float64
 11  I - NÁZEV KNIHOVNY                                                                                                   6716 non-null   object
 12  R - EVIDENČNÍ ČÍSLO KNIHOVNY                                                                                         6716 non-null   int64
 13  J - druh knihovny                                                                                                    6716 non-null   object
 14  Kategorie - pomocný sloupec                                                                                          6522 non-null   object
 15  K - adresa knihovny: ulice                                                                                           6716 non-null   object
 16  K - adresa knihovny: PSČ                                                                                             6716 non-null   object
 17  K - adresa knihovny: město                                                                                           6716 non-null   object
 18  K - adresa knihovny: okres                                                                                           6716 non-null   object
 19  K - adresa knihovny: kraj                                                                                            6716 non-null   object
 20  M - emailový kontakt na autora záznamu                                                                               75 non-null     object
 21  N - e-mailový kontakt na knihovnu                                                                                    6106 non-null   object
 22  O - odkaz na webovou stránku knihovny, respektive odkaz na informace o knihovně na webových stránkách provozovatele  491 non-null    object
 23  P - provozní doba knihovny                                                                                           6129 non-null   object
 24  Q - další informace                                                                                                  2 non-null      object
 25  X - sigla                                                                                                            6161 non-null   object
 26  S - datum vytvoření záznamu                                                                                          6716 non-null   datetime64[ns]
 27  T - datum evidence knihovny                                                                                          6716 non-null   object
 28  XXT - schvalovatel záznamu                                                                                           6716 non-null   object
 29  U - datum aktualizace záznamu                                                                                        1014 non-null   object
 30  XXU - schvalovatel aktualizace záznamu                                                                               1006 non-null   object
 31  aktivní / zrušená (vyřazená z evidence)                                                                              6716 non-null   object
 32  V - datum vyřazení                                                                                                   669 non-null    object
 33  XXV - vyřadil z evidence                                                                                             5839 non-null   object
 34  W - důvod vyřazení z evidence                                                                                        11 non-null     object
 35  Y - číslo jednací                                                                                                    6664 non-null   object
 36  Poznámka                                                                                                             450 non-null    object
dtypes: datetime64[ns](1), float64(1), int64(2), object(33)
memory usage: 1.9+ MB
None

## Removing empty columns

In [9]:
print(df.iloc[:,10].unique())  # the 10th col has no values other than NaN, we can remove it

[nan]

In [10]:
df = df.drop(df.columns[10], axis=1)

In [11]:
# we can leave these columns, as they do contain some data
print(df.iloc[:,23].unique())
print(df.iloc[:,33].unique())

[nan
 'Dočasná adresa knihovny do roku 2026: Žižkovo náměstí 10, 390 01 Tábor; korespondenční adresa: Jiráskova 1775, 390 01 Tábor'
 'KOHA']
[nan 'zrušení knihovny' 'žádost starostky obce'
 'org. důvody sloučení knihoven' 'knihovna zrušena']

In [12]:
df[df.isna().all(axis=1)] # no empty rows

Empty DataFrame
Columns: [Název provozovatele, B/H - IČ provozovatele (u fyzické osoby pokud bylo přiděleno), C/CH - sídlo/adresa; místo trvalého pobytu fyz. osoby - ulice, C/CH - sídlo/adresa; místo trvalého pobytu fyz. osoby - PSČ, C/CH - sídlo/adresa; místo trvalého pobytu fyz. osoby - obec, C/CH - sídlo/adresa; místo trvalého pobytu fyz. osoby - okres, C/CH - sídlo/adresa; místo trvalého pobytu fyz. osoby - kraj, C/CH - datová schránka, má-li ji subjekt zřízenou, D - předmět činnosti, E - právní forma, I - NÁZEV KNIHOVNY, R - EVIDENČNÍ ČÍSLO KNIHOVNY, J - druh knihovny, Kategorie - pomocný sloupec, K - adresa knihovny: ulice, K - adresa knihovny: PSČ, K - adresa knihovny: město, K - adresa knihovny: okres, K - adresa knihovny: kraj, M - emailový kontakt na autora záznamu, N - e-mailový kontakt na knihovnu, O - odkaz na webovou stránku knihovny, respektive odkaz na informace o knihovně na webových stránkách provozovatele, P - provozní doba knihovny, Q - další informace, X - sigla, S - datum vytvoření záznamu, T - datum evidence knihovny, XXT - schvalovatel záznamu, U - datum aktualizace záznamu, XXU - schvalovatel aktualizace záznamu, aktivní / zrušená (vyřazená z evidence), V - datum vyřazení, XXV - vyřadil z evidence, W - důvod vyřazení z evidence, Y - číslo jednací, Poznámka]
Index: []

[0 rows x 36 columns]

## Apply datetime format to columns

In [13]:
print(df.info(show_counts=True))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6716 entries, 0 to 6715
Data columns (total 36 columns):
 #   Column                                                                                                               Non-Null Count  Dtype
---  ------                                                                                                               --------------  -----
 0   Název provozovatele                                                                                                  6716 non-null   object
 1   B/H - IČ provozovatele (u fyzické osoby pokud bylo přiděleno)                                                        6716 non-null   int64
 2   C/CH - sídlo/adresa; místo trvalého pobytu fyz. osoby - ulice                                                        6716 non-null   object
 3   C/CH - sídlo/adresa; místo trvalého pobytu fyz. osoby - PSČ                                                          6716 non-null   object
 4   C/CH - sídlo/adresa; místo trvalého pobytu fyz. osoby - obec                                                         6716 non-null   object
 5   C/CH - sídlo/adresa; místo trvalého pobytu fyz. osoby - okres                                                        6716 non-null   object
 6   C/CH - sídlo/adresa; místo trvalého pobytu fyz. osoby - kraj                                                         6716 non-null   object
 7   C/CH - datová schránka, má-li ji subjekt zřízenou                                                                    44 non-null     object
 8   D - předmět činnosti                                                                                                 6682 non-null   object
 9   E - právní forma                                                                                                     146 non-null    object
 10  I - NÁZEV KNIHOVNY                                                                                                   6716 non-null   object
 11  R - EVIDENČNÍ ČÍSLO KNIHOVNY                                                                                         6716 non-null   int64
 12  J - druh knihovny                                                                                                    6716 non-null   object
 13  Kategorie - pomocný sloupec                                                                                          6522 non-null   object
 14  K - adresa knihovny: ulice                                                                                           6716 non-null   object
 15  K - adresa knihovny: PSČ                                                                                             6716 non-null   object
 16  K - adresa knihovny: město                                                                                           6716 non-null   object
 17  K - adresa knihovny: okres                                                                                           6716 non-null   object
 18  K - adresa knihovny: kraj                                                                                            6716 non-null   object
 19  M - emailový kontakt na autora záznamu                                                                               75 non-null     object
 20  N - e-mailový kontakt na knihovnu                                                                                    6106 non-null   object
 21  O - odkaz na webovou stránku knihovny, respektive odkaz na informace o knihovně na webových stránkách provozovatele  491 non-null    object
 22  P - provozní doba knihovny                                                                                           6129 non-null   object
 23  Q - další informace                                                                                                  2 non-null      object
 24  X - sigla                                                                                                            6161 non-null   object
 25  S - datum vytvoření záznamu                                                                                          6716 non-null   datetime64[ns]
 26  T - datum evidence knihovny                                                                                          6716 non-null   object
 27  XXT - schvalovatel záznamu                                                                                           6716 non-null   object
 28  U - datum aktualizace záznamu                                                                                        1014 non-null   object
 29  XXU - schvalovatel aktualizace záznamu                                                                               1006 non-null   object
 30  aktivní / zrušená (vyřazená z evidence)                                                                              6716 non-null   object
 31  V - datum vyřazení                                                                                                   669 non-null    object
 32  XXV - vyřadil z evidence                                                                                             5839 non-null   object
 33  W - důvod vyřazení z evidence                                                                                        11 non-null     object
 34  Y - číslo jednací                                                                                                    6664 non-null   object
 35  Poznámka                                                                                                             450 non-null    object
dtypes: datetime64[ns](1), int64(2), object(33)
memory usage: 1.8+ MB
None

In [14]:
df.iloc[:, 21:32].head()  # the columns containing dates are S, T, U, V - indexes 25, 26, 28, 31

,"O - odkaz na webovou stránku knihovny, respektive odkaz na informace o knihovně na webových stránkách provozovatele",P - provozní doba knihovny,Q - další informace,X - sigla,S - datum vytvoření záznamu,T - datum evidence knihovny,XXT - schvalovatel záznamu,U - datum aktualizace záznamu,XXU - schvalovatel aktualizace záznamu,aktivní / zrušená (vyřazená z evidence),V - datum vyřazení
0,NaN,,NaN,,2003-05-23,2002-07-15 00:00:00,Čermáková,NaN,NaN,A,NaN
1,NaN,,NaN,,2003-05-23,2002-07-15 00:00:00,Čermáková,NaN,NaN,A,NaN
2,NaN,"9.00-11.00, 13.00-14.30 - 9.00-11.00, 13.00-...",NaN,FMR 301,2003-05-23,2002-07-15 00:00:00,Čermáková,NaN,NaN,A,NaN
3,NaN,,NaN,MBG 505,2003-05-23,2002-07-15 00:00:00,Čermáková,NaN,NaN,A,NaN
4,http://www.mkloket.cz,,NaN,SOG501,2003-05-23,2002-07-15 00:00:00,Čermáková,NaN,NaN,A,NaN

In [15]:
df.iloc[:,25].unique()  # check the only column in datetime format

<DatetimeArray>
['2003-05-23 00:00:00', '2003-05-27 00:00:00', '2003-05-28 00:00:00',
 '2002-07-15 00:00:00', '2003-05-29 00:00:00', '2002-05-29 00:00:00',
 '2003-05-30 00:00:00', '2003-06-02 00:00:00', '2004-09-02 00:00:00',
 '2003-06-03 00:00:00',
 ...
 '2024-08-29 00:00:00', '2024-09-03 00:00:00', '2024-10-23 00:00:00',
 '2024-11-11 00:00:00', '2025-01-06 00:00:00', '2025-01-20 00:00:00',
 '2025-02-27 00:00:00', '2025-03-03 00:00:00', '2025-05-15 00:00:00',
 '2025-06-12 00:00:00']
Length: 473, dtype: datetime64[ns]

### Column 26

In [16]:
# let's change the other columns containing date time information into datetime format
(df.iloc[:,26].unique())
# some rows contain more than one date, which makes conversion impossible
# we will replace these rows with the most recent date in the record, and then retype to datetime format

mask = df.iloc[:,26].astype(str).str.contains(", ")
new_values = df[mask].iloc[:,26].astype(str).str.split(', ', expand=True)[1]
df.iloc[new_values.index, 26] = new_values
new_values

6237    27.6.2022
6347    15.5.2022
Name: 1, dtype: object

In [17]:
# change the format of column 26
df[df.columns[26]] = pd.to_datetime(df[df.columns[26]])

### Column 28

In [18]:
# column 28
df.iloc[:,28].unique()
# again some rows contain more than one date, which makes conversion impossible

array([nan, datetime.datetime(2022, 5, 23, 0, 0),
       datetime.datetime(2008, 4, 4, 0, 0),
       datetime.datetime(2025, 7, 7, 0, 0),
       datetime.datetime(2007, 7, 13, 0, 0),
       datetime.datetime(2004, 3, 10, 0, 0),
       datetime.datetime(2006, 3, 10, 0, 0),
       datetime.datetime(2007, 11, 29, 0, 0),
       datetime.datetime(2006, 6, 21, 0, 0), '9.2.2008, 6.1.2020',
       datetime.datetime(2023, 11, 8, 0, 0),
       datetime.datetime(2022, 7, 26, 0, 0), '23.05.2022, 15.03.2024',
       datetime.datetime(2017, 6, 1, 0, 0),
       datetime.datetime(2022, 3, 17, 0, 0),
       datetime.datetime(2012, 3, 19, 0, 0),
       datetime.datetime(2007, 5, 26, 0, 0),
       datetime.datetime(2008, 1, 4, 0, 0), '9.1.2007, 12.11.2018',
       datetime.datetime(2015, 11, 10, 0, 0),
       datetime.datetime(2008, 3, 27, 0, 0), '11.2.2009, 26.1.2017',
       datetime.datetime(2015, 4, 24, 0, 0),
       datetime.datetime(2018, 11, 12, 0, 0),
       datetime.datetime(2016, 4, 19, 0, 0),
       datetime.datetime(2008, 2, 9, 0, 0),
       datetime.datetime(2011, 3, 11, 0, 0),
       datetime.datetime(2003, 3, 4, 0, 0),
       datetime.datetime(2003, 6, 6, 0, 0),
       datetime.datetime(2003, 5, 5, 0, 0),
       datetime.datetime(2003, 4, 16, 0, 0),
       datetime.datetime(2003, 2, 11, 0, 0),
       datetime.datetime(2018, 5, 4, 0, 0),
       datetime.datetime(2004, 6, 18, 0, 0),
       datetime.datetime(2003, 2, 21, 0, 0),
       datetime.datetime(2003, 6, 24, 0, 0),
       datetime.datetime(2004, 4, 28, 0, 0),
       datetime.datetime(2003, 3, 5, 0, 0),
       datetime.datetime(2003, 12, 22, 0, 0),
       datetime.datetime(2015, 10, 15, 0, 0),
       datetime.datetime(2003, 12, 16, 0, 0),
       datetime.datetime(2003, 5, 22, 0, 0),
       datetime.datetime(2004, 1, 7, 0, 0),
       datetime.datetime(2004, 10, 8, 0, 0),
       datetime.datetime(2004, 12, 10, 0, 0),
       datetime.datetime(2007, 1, 9, 0, 0),
       datetime.datetime(2015, 7, 10, 0, 0),
       datetime.datetime(2015, 12, 7, 0, 0),
       datetime.datetime(2016, 5, 11, 0, 0), '18.7.2007, 19.11.2020',
       datetime.datetime(2022, 5, 26, 0, 0), '27.05.2008, 18.7.2023',
       datetime.datetime(2005, 11, 4, 0, 0),
       datetime.datetime(2005, 2, 15, 0, 0),
       datetime.datetime(2009, 8, 11, 0, 0),
       datetime.datetime(2006, 8, 28, 0, 0),
       datetime.datetime(2016, 5, 31, 0, 0),
       datetime.datetime(2017, 5, 2, 0, 0),
       datetime.datetime(2007, 11, 22, 0, 0),
       datetime.datetime(2007, 11, 28, 0, 0),
       datetime.datetime(2022, 4, 26, 0, 0),
       datetime.datetime(2022, 10, 10, 0, 0),
       datetime.datetime(2007, 9, 7, 0, 0),
       datetime.datetime(2007, 12, 19, 0, 0), '10.10.2022, 24.2.2025',
       datetime.datetime(2010, 4, 24, 0, 0),
       datetime.datetime(2003, 6, 5, 0, 0),
       datetime.datetime(2007, 7, 18, 0, 0),
       datetime.datetime(2022, 9, 15, 0, 0),
       datetime.datetime(2009, 12, 28, 0, 0),
       datetime.datetime(2022, 3, 9, 0, 0),
       datetime.datetime(2009, 5, 6, 0, 0),
       datetime.datetime(2024, 10, 4, 0, 0),
       datetime.datetime(2023, 1, 26, 0, 0),
       datetime.datetime(2016, 2, 29, 0, 0),
       datetime.datetime(2022, 4, 28, 0, 0),
       datetime.datetime(2006, 1, 25, 0, 0),
       datetime.datetime(2008, 6, 24, 0, 0),
       datetime.datetime(2010, 11, 8, 0, 0),
       datetime.datetime(2007, 11, 21, 0, 0),
       datetime.datetime(2004, 2, 26, 0, 0),
       datetime.datetime(2016, 8, 8, 0, 0),
       datetime.datetime(2010, 2, 26, 0, 0),
       datetime.datetime(2021, 4, 8, 0, 0),
       datetime.datetime(2020, 10, 19, 0, 0),
       datetime.datetime(2006, 2, 6, 0, 0),
       datetime.datetime(2022, 3, 10, 0, 0),
       datetime.datetime(2016, 8, 15, 0, 0), '15.04.2003, 27.2.2024',
       datetime.datetime(2020, 4, 28, 0, 0),
       datetime.datetime(2024, 5, 24, 0, 0),
       datetime.datetime(2006, 12, 21, 0, 0),
       datetime.datetime(2017, 1, 27, 0, 0), '27.5.2008, 23.5.2022',
       datetime.datetime(2009, 12, 7, 0, 0),
       datetime.datetime(2009, 4, 27, 0, 0),
       datetime.datetime(2008, 1, 2, 0, 0),
       datetime.datetime(2008, 5, 27, 0, 0),
       datetime.datetime(2022, 10, 31, 0, 0),
       datetime.datetime(2022, 3, 14, 0, 0),
       datetime.datetime(2021, 6, 2, 0, 0),
       datetime.datetime(2010, 2, 8, 0, 0),
       datetime.datetime(2024, 3, 1, 0, 0), '23.06.2006, 08.07.2024',
       datetime.datetime(2005, 2, 7, 0, 0),
       datetime.datetime(2024, 7, 26, 0, 0),
       datetime.datetime(2006, 8, 10, 0, 0),
       datetime.datetime(2008, 3, 28, 0, 0),
       datetime.datetime(2006, 3, 9, 0, 0),
       datetime.datetime(2022, 8, 30, 0, 0),
       datetime.datetime(2016, 6, 22, 0, 0),
       datetime.datetime(2006, 10, 9, 0, 0),
       datetime.datetime(2007, 7, 1, 0, 0),
       datetime.datetime(2006, 12, 1, 0, 0),
       datetime.datetime(2008, 10, 31, 0, 0), '26.07.2022, 8.11.2023',
       datetime.datetime(2006, 2, 7, 0, 0),
       datetime.datetime(2015, 8, 25, 0, 0),
       datetime.datetime(2021, 7, 21, 0, 0), '18.11.2008, 27.7.2022',
       datetime.datetime(2004, 2, 11, 0, 0), '22.02.2005, 10.10.2022',
       datetime.datetime(2010, 5, 11, 0, 0),
       datetime.datetime(2008, 8, 29, 0, 0), '12.6.2017, 12.4.2022',
       datetime.datetime(2022, 4, 12, 0, 0),
       datetime.datetime(2022, 8, 23, 0, 0),
       datetime.datetime(2022, 4, 5, 0, 0),
       datetime.datetime(2007, 11, 27, 0, 0),
       datetime.datetime(2020, 1, 8, 0, 0),
       datetime.datetime(2008, 11, 18, 0, 0),
       datetime.datetime(2005, 12, 1, 0, 0),
       datetime.datetime(2006, 1, 5, 0, 0),
       datetime.datetime(2003, 2, 25, 0, 0),
       datetime.datetime(2003, 7, 7, 0, 0), '26.11.2008, 27.4.2017',
       datetime.datetime(2003, 5, 6, 0, 0),
       datetime.datetime(2003, 6, 25, 0, 0), '4.3.2003, 29.3.2022',
       datetime.datetime(2003, 7, 24, 0, 0),
       datetime.datetime(2003, 9, 23, 0, 0),
       datetime.datetime(2003, 8, 8, 0, 0),
       datetime.datetime(2003, 9, 4, 0, 0), '24.06.2003, 31.10.2022',
       '25.2.2003; 12.10.2017 oprava dat', '29.5.2008;\n1.11.2019',
       datetime.datetime(2007, 10, 23, 0, 0), '6.6.2003, 3.5.2022',
       datetime.datetime(2009, 5, 25, 0, 0),
       datetime.datetime(2015, 7, 8, 0, 0), '22.12.2003, 19.1.2017',
       datetime.datetime(2008, 11, 3, 0, 0),
       datetime.datetime(2010, 3, 15, 0, 0),
       datetime.datetime(2007, 4, 27, 0, 0),
       datetime.datetime(2023, 4, 3, 0, 0),
       datetime.datetime(2004, 10, 7, 0, 0),
       datetime.datetime(2006, 5, 5, 0, 0),
       datetime.datetime(2014, 3, 17, 0, 0),
       datetime.datetime(2012, 12, 10, 0, 0), '04.05.2018, 21.03.2025',
       datetime.datetime(2025, 3, 21, 0, 0), '04.01.2011,13.7.2022',
       datetime.datetime(2023, 12, 5, 0, 0), '8.11.2005, 26.5.2022',
       datetime.datetime(2020, 3, 4, 0, 0),
       datetime.datetime(2002, 11, 14, 0, 0),
       datetime.datetime(2007, 2, 16, 0, 0),
       datetime.datetime(2003, 11, 10, 0, 0),
       datetime.datetime(2024, 6, 3, 0, 0),
       datetime.datetime(2024, 5, 21, 0, 0),
       datetime.datetime(2009, 1, 22, 0, 0),
       datetime.datetime(2005, 9, 12, 0, 0),
       datetime.datetime(2024, 1, 8, 0, 0),
       datetime.datetime(2017, 4, 27, 0, 0),
       datetime.datetime(2022, 6, 7, 0, 0),
       datetime.datetime(2010, 2, 9, 0, 0),
       datetime.datetime(2022, 10, 20, 0, 0),
       datetime.datetime(2025, 4, 15, 0, 0),
       datetime.datetime(2022, 9, 22, 0, 0),
       datetime.datetime(2025, 6, 4, 0, 0),
       datetime.datetime(2005, 11, 2, 0, 0),
       datetime.datetime(2016, 2, 24, 0, 0),
       datetime.datetime(2007, 8, 1, 0, 0), '23.5.2003, 3.1.2019',
       datetime.datetime(2016, 4, 18, 0, 0),
       datetime.datetime(2017, 5, 29, 0, 0),
       datetime.datetime(2010, 4, 22, 0, 0),
       datetime.datetime(2024, 8, 16, 0, 0), '2.3.2017, 27.4.2017',
       '16.4.2003, 29.1.2014, 10.10.2022',
       datetime.datetime(2024, 4, 17, 0, 0),
       datetime.datetime(2014, 4, 9, 0, 0), '05.05.2022, 09.05.2024',
       datetime.datetime(2007, 2, 6, 0, 0),
       datetime.datetime(2024, 5, 13, 0, 0),
       datetime.datetime(2025, 6, 27, 0, 0),
       datetime.datetime(2005, 3, 2, 0, 0),
       datetime.datetime(2009, 2, 11, 0, 0),
       datetime.datetime(2017, 10, 17, 0, 0),
       datetime.datetime(2006, 6, 16, 0, 0),
       datetime.datetime(2003, 5, 23, 0, 0),
       datetime.datetime(2019, 5, 24, 0, 0),
       datetime.datetime(2010, 7, 2, 0, 0), '26.1.2005, 3.5.2022',
       datetime.datetime(2010, 7, 20, 0, 0),
       datetime.datetime(2007, 12, 5, 0, 0),
       datetime.datetime(2007, 11, 26, 0, 0),
       datetime.datetime(2023, 4, 17, 0, 0),
       datetime.datetime(2025, 1, 22, 0, 0),
       datetime.datetime(2024, 9, 27, 0, 0),
       datetime.datetime(2024, 7, 19, 0, 0),
       datetime.datetime(2004, 11, 4, 0, 0), '13.7.2007, 13.10.2008',
       datetime.datetime(2024, 7, 31, 0, 0), '01.12.2006, 09.05.2024',
       datetime.datetime(2015, 12, 4, 0, 0),
       datetime.datetime(2007, 7, 19, 0, 0), '4,4.2016',
       datetime.datetime(2002, 12, 4, 0, 0),
       datetime.datetime(2002, 12, 13, 0, 0),
       datetime.datetime(2005, 11, 30, 0, 0),
       datetime.datetime(2008, 11, 13, 0, 0),
       datetime.datetime(2011, 1, 24, 0, 0),
       datetime.datetime(2008, 11, 19, 0, 0), '7.1.2008, 23.5.2022',
       datetime.datetime(2007, 8, 31, 0, 0),
       datetime.datetime(2023, 9, 25, 0, 0), '10.12.2018; \n2.9.2020',
       datetime.datetime(2009, 12, 1, 0, 0),
       datetime.datetime(2018, 11, 1, 0, 0),
       datetime.datetime(2004, 4, 5, 0, 0),
       datetime.datetime(2002, 12, 16, 0, 0), '23.2.2017, 29.5.2017',
       datetime.datetime(2015, 4, 2, 0, 0),
       datetime.datetime(2015, 2, 6, 0, 0),
       datetime.datetime(2025, 3, 26, 0, 0),
       datetime.datetime(2006, 8, 15, 0, 0),
       datetime.datetime(2009, 1, 23, 0, 0), '07.02.2008, 25.10.2022',
       '26.05.2022, 21.2.2023', datetime.datetime(2008, 10, 30, 0, 0),
       datetime.datetime(2009, 5, 4, 0, 0),
       datetime.datetime(2002, 11, 29, 0, 0),
       datetime.datetime(2024, 3, 15, 0, 0),
       datetime.datetime(2025, 1, 6, 0, 0),
       datetime.datetime(2010, 7, 8, 0, 0),
       datetime.datetime(2008, 1, 22, 0, 0), '11.02.2004, 8.1.2024',
       datetime.datetime(2007, 12, 3, 0, 0),
       datetime.datetime(2008, 11, 24, 0, 0),
       datetime.datetime(2009, 12, 11, 0, 0),
       datetime.datetime(2025, 1, 27, 0, 0),
       datetime.datetime(2014, 1, 29, 0, 0),
       datetime.datetime(2017, 6, 27, 0, 0),
       datetime.datetime(2007, 12, 28, 0, 0),
       datetime.datetime(2010, 2, 15, 0, 0),
       datetime.datetime(2022, 5, 13, 0, 0),
       datetime.datetime(2017, 10, 12, 0, 0),
       datetime.datetime(2003, 7, 15, 0, 0), '17.12.2014, 16.3.2024',
       '10.11.2015, 9.3.2022', datetime.datetime(2006, 6, 14, 0, 0),
       datetime.datetime(2025, 1, 9, 0, 0),
       datetime.datetime(2006, 2, 15, 0, 0), '09.02.2007, 15.9.2022',
       '25.06.2008, 15.9.2022', '16.07.200, 15.9.2022',
       datetime.datetime(2008, 6, 25, 0, 0),
       datetime.datetime(2010, 3, 29, 0, 0),
       datetime.datetime(2010, 6, 22, 0, 0),
       datetime.datetime(2005, 6, 6, 0, 0),
       datetime.datetime(2007, 7, 16, 0, 0),
       datetime.datetime(2023, 7, 18, 0, 0),
       datetime.datetime(2023, 5, 18, 0, 0),
       datetime.datetime(2016, 7, 14, 0, 0),
       '29.5.2008, 29.1.2014; \n25.8.2020',
       datetime.datetime(2004, 3, 28, 0, 0),
       datetime.datetime(2022, 9, 19, 0, 0),
       datetime.datetime(2007, 7, 20, 0, 0),
       datetime.datetime(2008, 12, 16, 0, 0),
       datetime.datetime(2009, 2, 9, 0, 0), '07.12.2007, 17.04.2024',
       datetime.datetime(2014, 10, 9, 0, 0),
       datetime.datetime(2010, 12, 21, 0, 0),
       datetime.datetime(2008, 10, 17, 0, 0),
       datetime.datetime(2003, 2, 24, 0, 0),
       datetime.datetime(2003, 9, 30, 0, 0), '24.2.2003, 26.5.2022',
       '24.02.2003, 27.06.2025', '24.2.2003, 26.4.2022',
       '24.02.2003, 07.05.2024', '24.02.2003,26.7.2022',
       datetime.datetime(2015, 5, 25, 0, 0), '24.02.2003,13.7.2022',
       datetime.datetime(2017, 10, 20, 0, 0),
       datetime.datetime(2022, 10, 25, 0, 0),
       datetime.datetime(2007, 9, 10, 0, 0),
       datetime.datetime(2010, 8, 11, 0, 0),
       datetime.datetime(2004, 8, 12, 0, 0), '11.8.2008,26.5.2022',
       datetime.datetime(2008, 11, 25, 0, 0),
       datetime.datetime(2017, 1, 26, 0, 0),
       datetime.datetime(2005, 11, 24, 0, 0),
       datetime.datetime(2007, 3, 5, 0, 0),
       datetime.datetime(2008, 1, 7, 0, 0),
       datetime.datetime(2023, 9, 21, 0, 0),
       datetime.datetime(2007, 8, 22, 0, 0),
       datetime.datetime(2016, 6, 28, 0, 0),
       datetime.datetime(2024, 5, 7, 0, 0),
       datetime.datetime(2010, 8, 16, 0, 0),
       datetime.datetime(2005, 9, 14, 0, 0),
       datetime.datetime(2007, 10, 8, 0, 0),
       datetime.datetime(2016, 5, 16, 0, 0),
       datetime.datetime(2008, 12, 3, 0, 0),
       datetime.datetime(2004, 7, 9, 0, 0),
       datetime.datetime(2022, 3, 22, 0, 0),
       datetime.datetime(2008, 2, 15, 0, 0), '24.02.2016, 19.9.2022',
       datetime.datetime(2009, 4, 8, 0, 0),
       datetime.datetime(2008, 11, 14, 0, 0),
       datetime.datetime(2008, 12, 19, 0, 0),
       datetime.datetime(2004, 10, 22, 0, 0), '22.01.2004, 19.9.2022',
       datetime.datetime(2003, 7, 25, 0, 0),
       datetime.datetime(2024, 11, 19, 0, 0),
       datetime.datetime(2020, 9, 3, 0, 0),
       datetime.datetime(2007, 7, 6, 0, 0),
       datetime.datetime(2016, 2, 23, 0, 0), '04.05.2018, 07.12.2023',
       '22.8.2007, 26.1.2017, 11.02.2025',
       datetime.datetime(2023, 12, 7, 0, 0),
       datetime.datetime(2010, 4, 1, 0, 0),
       datetime.datetime(2006, 2, 14, 0, 0),
       datetime.datetime(2010, 2, 20, 0, 0),
       datetime.datetime(2007, 10, 1, 0, 0),
       datetime.datetime(2024, 12, 9, 0, 0),
       datetime.datetime(2009, 12, 14, 0, 0),
       datetime.datetime(2004, 2, 10, 0, 0),
       datetime.datetime(2017, 10, 9, 0, 0),
       datetime.datetime(2025, 4, 24, 0, 0),
       datetime.datetime(2004, 3, 24, 0, 0),
       datetime.datetime(2025, 7, 9, 0, 0),
       datetime.datetime(2007, 8, 29, 0, 0),
       datetime.datetime(2021, 4, 1, 0, 0),
       datetime.datetime(2005, 11, 21, 0, 0),
       datetime.datetime(2005, 5, 31, 0, 0),
       datetime.datetime(2015, 11, 9, 0, 0),
       datetime.datetime(2010, 3, 18, 0, 0),
       datetime.datetime(2004, 1, 21, 0, 0),
       datetime.datetime(2022, 6, 13, 0, 0),
       datetime.datetime(2004, 1, 22, 0, 0),
       datetime.datetime(2025, 3, 7, 0, 0),
       datetime.datetime(2022, 12, 19, 0, 0),
       datetime.datetime(2009, 3, 19, 0, 0), '16.2.2007, 31.3.2022',
       datetime.datetime(2005, 12, 16, 0, 0),
       datetime.datetime(2007, 12, 4, 0, 0),
       datetime.datetime(2025, 3, 19, 0, 0), '2.9.2015, 26.4.2022',
       datetime.datetime(2008, 5, 29, 0, 0), '4.6.2009, 13.5.2014',
       datetime.datetime(2020, 2, 4, 0, 0),
       datetime.datetime(2022, 3, 31, 0, 0), '13.8.2008, 21.4.2022',
       datetime.datetime(2007, 7, 17, 0, 0), '20.02.2003, 13.7.2022',
       datetime.datetime(2023, 2, 23, 0, 0),
       datetime.datetime(2008, 2, 11, 0, 0),
       datetime.datetime(2006, 4, 14, 0, 0),
       datetime.datetime(2023, 11, 20, 0, 0),
       datetime.datetime(2007, 8, 27, 0, 0),
       datetime.datetime(2019, 11, 12, 0, 0),
       datetime.datetime(2025, 7, 21, 0, 0),
       datetime.datetime(2024, 6, 4, 0, 0), '10.03.2004, 25.10.2022',
       datetime.datetime(2018, 5, 31, 0, 0),
       datetime.datetime(2006, 6, 19, 0, 0),
       datetime.datetime(2010, 4, 15, 0, 0), '8.10.2007, 16.8.2018',
       '10.06.2015, 27.6.2022', datetime.datetime(2005, 6, 8, 0, 0),
       datetime.datetime(2021, 7, 30, 0, 0),
       datetime.datetime(2007, 2, 12, 0, 0),
       datetime.datetime(2022, 6, 27, 0, 0),
       datetime.datetime(2017, 10, 11, 0, 0), '29.02.2016, 15.9.2022',
       datetime.datetime(2016, 7, 11, 0, 0), '29.02.2016, 21.05.2024',
       '29.08.2007, 21.05.2024', datetime.datetime(2018, 5, 23, 0, 0),
       datetime.datetime(2007, 12, 6, 0, 0),
       datetime.datetime(2014, 11, 13, 0, 0),
       datetime.datetime(2007, 11, 8, 0, 0),
       datetime.datetime(2017, 5, 20, 0, 0),
       datetime.datetime(2003, 2, 7, 0, 0),
       datetime.datetime(2008, 8, 13, 0, 0),
       datetime.datetime(2024, 4, 11, 0, 0), '02.01.2008, 11.06.2024',
       '29.01.2014, 31.10.2022', datetime.datetime(2023, 11, 2, 0, 0),
       '22.03.2016, 17.04.2024', datetime.datetime(2006, 3, 29, 0, 0),
       datetime.datetime(2025, 1, 29, 0, 0),
       datetime.datetime(2011, 6, 13, 0, 0),
       datetime.datetime(2005, 2, 23, 0, 0),
       datetime.datetime(2022, 10, 17, 0, 0),
       datetime.datetime(2008, 7, 2, 0, 0),
       datetime.datetime(2019, 12, 2, 0, 0),
       datetime.datetime(2022, 3, 2, 0, 0),
       '22.11.2007, 22.3.2022, 31.12.2023',
       datetime.datetime(2008, 12, 12, 0, 0), '25.07.2011, 16.07.2024',
       datetime.datetime(2014, 9, 8, 0, 0), '29.11.2007, 20.01.2025',
       datetime.datetime(2005, 6, 3, 0, 0),
       datetime.datetime(2024, 5, 17, 0, 0),
       datetime.datetime(2004, 4, 2, 0, 0),
       datetime.datetime(2023, 4, 6, 0, 0),
       datetime.datetime(2024, 8, 5, 0, 0),
       datetime.datetime(2025, 2, 24, 0, 0), '10.6.2015, 19.5.2022',
       datetime.datetime(2007, 2, 5, 0, 0), '22.01.2008, 20.4.2023',
       datetime.datetime(2023, 1, 19, 0, 0),
       datetime.datetime(2022, 6, 29, 0, 0),
       datetime.datetime(2022, 7, 20, 0, 0),
       datetime.datetime(2023, 5, 29, 0, 0),
       datetime.datetime(2010, 6, 8, 0, 0),
       datetime.datetime(2025, 2, 17, 0, 0),
       datetime.datetime(2022, 8, 15, 0, 0),
       datetime.datetime(2022, 3, 11, 0, 0), '11.12.2009, 7.9.2022',
       datetime.datetime(2005, 11, 8, 0, 0),
       datetime.datetime(2009, 3, 17, 0, 0),
       datetime.datetime(2005, 11, 14, 0, 0), '13.11.2014, 10.10.2022',
       datetime.datetime(2008, 2, 8, 0, 0),
       datetime.datetime(2024, 12, 4, 0, 0),
       datetime.datetime(2021, 1, 27, 0, 0), '29.3.2010, 20.5.2017',
       datetime.datetime(2003, 3, 16, 0, 0),
       datetime.datetime(2014, 4, 25, 0, 0),
       datetime.datetime(2022, 12, 5, 0, 0),
       datetime.datetime(2007, 9, 13, 0, 0),
       datetime.datetime(2025, 6, 5, 0, 0), '30.12.2022, 25.07.2025',
       datetime.datetime(2022, 5, 15, 0, 0), '29.6.2009, 10.5.2022',
       datetime.datetime(2025, 1, 20, 0, 0),
       datetime.datetime(2010, 4, 28, 0, 0),
       datetime.datetime(2022, 5, 3, 0, 0), '19.2.2007, AD542212.11.2018',
       datetime.datetime(2016, 3, 22, 0, 0),
       datetime.datetime(2008, 1, 18, 0, 0),
       datetime.datetime(2010, 3, 8, 0, 0),
       datetime.datetime(2022, 2, 4, 0, 0),
       datetime.datetime(2008, 3, 26, 0, 0),
       datetime.datetime(2025, 3, 14, 0, 0),
       datetime.datetime(2022, 4, 11, 0, 0),
       datetime.datetime(2009, 11, 13, 0, 0), '21.11.2022, 21.05.2025',
       datetime.datetime(2025, 4, 4, 0, 0),
       '21.11.2006, 26.1.2017, 25.10.2022',
       datetime.datetime(2006, 10, 25, 0, 0),
       datetime.datetime(2022, 5, 19, 0, 0),
       datetime.datetime(2007, 9, 14, 0, 0),
       datetime.datetime(2006, 8, 30, 0, 0),
       datetime.datetime(2004, 6, 4, 0, 0),
       datetime.datetime(2023, 4, 23, 0, 0),
       datetime.datetime(2005, 8, 30, 0, 0),
       datetime.datetime(2008, 1, 23, 0, 0),
       datetime.datetime(2022, 3, 24, 0, 0),
       datetime.datetime(2005, 11, 15, 0, 0),
       datetime.datetime(2019, 10, 23, 0, 0),
       datetime.datetime(2024, 10, 11, 0, 0),
       datetime.datetime(2008, 5, 30, 0, 0),
       datetime.datetime(2005, 11, 3, 0, 0),
       '24.4.2015, 27.1.2017, 11.04.2024',
       datetime.datetime(2014, 1, 30, 0, 0),
       datetime.datetime(2010, 2, 4, 0, 0),

In [19]:
# replace these rows with the most recent date in the record, and then retype to datetime format
mask = df.iloc[:,28].astype(str).str.contains(",|;")
table = df[mask].iloc[:,28].astype(str).str.split(',|;', expand=True)
# rows 1800 and 5333 need to be corrected, there are some errors
print(df.iloc[[1800,5333], 28])
df.iloc[1800, 28] = df.iloc[1800, 28].replace(',', '.')
df.iloc[5333, 28] = df.iloc[5333, 28].split(',')[1][7:]
df.iloc[[1800,5333], 28]

1800                       4,4.2016
5333    19.2.2007, AD542212.11.2018
Name: U - datum aktualizace záznamu, dtype: object

1800      4.4.2016
5333    12.11.2018
Name: U - datum aktualizace záznamu, dtype: object

In [20]:
# replace by the most recent date
mask = df.iloc[:,28].astype(str).str.contains(",|;")
dates = df[mask].iloc[:,28].astype(str).str.split(',|;', expand=True)
dates = dates.apply(lambda x: x.dropna().iloc[-1] if not x.dropna().empty else None, axis=1)
df.loc[mask, df.columns[28]] = dates
df.loc[mask, df.columns[28]]

43         6.1.2020
52       15.03.2024
83       12.11.2018
96        26.1.2017
249      19.11.2020
           ...
5929      23.5.2022
6184     11.04.2024
6340      27.7.2023
6413     22.05.2025
6440       5.5.2022
Name: U - datum aktualizace záznamu, Length: 89, dtype: object

In [21]:
# there is some leftover text in one of the records, we can remove it also
df[df.iloc[:, 28].astype(str).str.contains('oprava dat|oprava datum', case=False, na=False)]
ind = df[df.iloc[:, 28].astype(str).str.contains('oprava dat|oprava datum', case=False, na=False)].index
df.iloc[ind, 28] = df.iloc[ind, 28].astype(str).str.replace(r'\s*oprava dat\s*', '', regex=True).str.replace(r'\s*oprava datum\s*', '', regex=True)

In [22]:
# convert to datetime
df[df.columns[28]] = pd.to_datetime(df[df.columns[28]])

### Column 31

In [23]:
# again there are rows containing more than one date.
# the column contains the date of record deletion. Again it would be possible to choose the most recent date and convert.
(df.iloc[:,31].unique())
pd.to_datetime(df.iloc[:,31])

DateParseError: Unknown datetime string format, unable to parse: 15.09.2022,3.10.2022, at position 113

In [24]:
mask = df.iloc[:,31].astype(str).str.contains(",|;")
df[mask].iloc[:,31].astype(str).str.split(',|;', expand=True)

               0          1
2523  15.09.2022  3.10.2022

In [25]:
# just one record is inconsistent - again we will replace by the most recent date
val = df[mask].iloc[:,31].astype(str).str.split(',|;', expand=True)[1]  # only one record has more dates
ind = df[mask].index
df.iloc[ind, 31] = val
(df.iloc[ind, 31])

2523    3.10.2022
Name: V - datum vyřazení, dtype: object

In [26]:
# the day and month number do not match:
df[df.columns[31]] = pd.to_datetime(df[df.columns[31]])

ValueError: day is out of range for month, at position 152

In [27]:
df[df.iloc[:,31] == '31.9.2013']  # September has just 30 days - correct to 30.9.2013
df.loc[df.iloc[:,31] == '31.9.2013', df.columns[31]] = '30.9.2013'
df[df.iloc[:,31] == '31.9.2013']

Empty DataFrame
Columns: [Název provozovatele, B/H - IČ provozovatele (u fyzické osoby pokud bylo přiděleno), C/CH - sídlo/adresa; místo trvalého pobytu fyz. osoby - ulice, C/CH - sídlo/adresa; místo trvalého pobytu fyz. osoby - PSČ, C/CH - sídlo/adresa; místo trvalého pobytu fyz. osoby - obec, C/CH - sídlo/adresa; místo trvalého pobytu fyz. osoby - okres, C/CH - sídlo/adresa; místo trvalého pobytu fyz. osoby - kraj, C/CH - datová schránka, má-li ji subjekt zřízenou, D - předmět činnosti, E - právní forma, I - NÁZEV KNIHOVNY, R - EVIDENČNÍ ČÍSLO KNIHOVNY, J - druh knihovny, Kategorie - pomocný sloupec, K - adresa knihovny: ulice, K - adresa knihovny: PSČ, K - adresa knihovny: město, K - adresa knihovny: okres, K - adresa knihovny: kraj, M - emailový kontakt na autora záznamu, N - e-mailový kontakt na knihovnu, O - odkaz na webovou stránku knihovny, respektive odkaz na informace o knihovně na webových stránkách provozovatele, P - provozní doba knihovny, Q - další informace, X - sigla, S - datum vytvoření záznamu, T - datum evidence knihovny, XXT - schvalovatel záznamu, U - datum aktualizace záznamu, XXU - schvalovatel aktualizace záznamu, aktivní / zrušená (vyřazená z evidence), V - datum vyřazení, XXV - vyřadil z evidence, W - důvod vyřazení z evidence, Y - číslo jednací, Poznámka]
Index: []

[0 rows x 36 columns]

In [28]:
# change dtype to datetime
df[df.columns[31]] = pd.to_datetime(df[df.columns[31]])
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6716 entries, 0 to 6715
Data columns (total 36 columns):
 #   Column                                                                                                               Non-Null Count  Dtype
---  ------                                                                                                               --------------  -----
 0   Název provozovatele                                                                                                  6716 non-null   object
 1   B/H - IČ provozovatele (u fyzické osoby pokud bylo přiděleno)                                                        6716 non-null   int64
 2   C/CH - sídlo/adresa; místo trvalého pobytu fyz. osoby - ulice                                                        6716 non-null   object
 3   C/CH - sídlo/adresa; místo trvalého pobytu fyz. osoby - PSČ                                                          6716 non-null   object
 4   C/CH - sídlo/adresa; místo trvalého pobytu fyz. osoby - obec                                                         6716 non-null   object
 5   C/CH - sídlo/adresa; místo trvalého pobytu fyz. osoby - okres                                                        6716 non-null   object
 6   C/CH - sídlo/adresa; místo trvalého pobytu fyz. osoby - kraj                                                         6716 non-null   object
 7   C/CH - datová schránka, má-li ji subjekt zřízenou                                                                    44 non-null     object
 8   D - předmět činnosti                                                                                                 6682 non-null   object
 9   E - právní forma                                                                                                     146 non-null    object
 10  I - NÁZEV KNIHOVNY                                                                                                   6716 non-null   object
 11  R - EVIDENČNÍ ČÍSLO KNIHOVNY                                                                                         6716 non-null   int64
 12  J - druh knihovny                                                                                                    6716 non-null   object
 13  Kategorie - pomocný sloupec                                                                                          6522 non-null   object
 14  K - adresa knihovny: ulice                                                                                           6716 non-null   object
 15  K - adresa knihovny: PSČ                                                                                             6716 non-null   object
 16  K - adresa knihovny: město                                                                                           6716 non-null   object
 17  K - adresa knihovny: okres                                                                                           6716 non-null   object
 18  K - adresa knihovny: kraj                                                                                            6716 non-null   object
 19  M - emailový kontakt na autora záznamu                                                                               75 non-null     object
 20  N - e-mailový kontakt na knihovnu                                                                                    6106 non-null   object
 21  O - odkaz na webovou stránku knihovny, respektive odkaz na informace o knihovně na webových stránkách provozovatele  491 non-null    object
 22  P - provozní doba knihovny                                                                                           6129 non-null   object
 23  Q - další informace                                                                                                  2 non-null      object
 24  X - sigla                                                                                                            6161 non-null   object
 25  S - datum vytvoření záznamu                                                                                          6716 non-null   datetime64[ns]
 26  T - datum evidence knihovny                                                                                          6716 non-null   datetime64[ns]
 27  XXT - schvalovatel záznamu                                                                                           6716 non-null   object
 28  U - datum aktualizace záznamu                                                                                        1014 non-null   datetime64[ns]
 29  XXU - schvalovatel aktualizace záznamu                                                                               1006 non-null   object
 30  aktivní / zrušená (vyřazená z evidence)                                                                              6716 non-null   object
 31  V - datum vyřazení                                                                                                   669 non-null    datetime64[ns]
 32  XXV - vyřadil z evidence                                                                                             5839 non-null   object
 33  W - důvod vyřazení z evidence                                                                                        11 non-null     object
 34  Y - číslo jednací                                                                                                    6664 non-null   object
 35  Poznámka                                                                                                             450 non-null    object
dtypes: datetime64[ns](4), int64(2), object(30)
memory usage: 1.8+ MB
None

## Apply string dtype to columns

In [29]:
(df.iloc[:,[1,11]])  # 11. col can possibly be removed, it's the index number - 1
df.iloc[:,11].unique()

array([   1,    2,    3, ..., 6714, 6715, 6716])

In [30]:
# change dtype to string
cols = df.select_dtypes(include=['object']).columns
df[cols] = df[cols].astype('string')

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6716 entries, 0 to 6715
Data columns (total 36 columns):
 #   Column                                                                                                               Non-Null Count  Dtype
---  ------                                                                                                               --------------  -----
 0   Název provozovatele                                                                                                  6716 non-null   string
 1   B/H - IČ provozovatele (u fyzické osoby pokud bylo přiděleno)                                                        6716 non-null   int64
 2   C/CH - sídlo/adresa; místo trvalého pobytu fyz. osoby - ulice                                                        6716 non-null   string
 3   C/CH - sídlo/adresa; místo trvalého pobytu fyz. osoby - PSČ                                                          6716 non-null   string
 4   C/CH - sídlo/adresa; místo trvalého pobytu fyz. osoby - obec                                                         6716 non-null   string
 5   C/CH - sídlo/adresa; místo trvalého pobytu fyz. osoby - okres                                                        6716 non-null   string
 6   C/CH - sídlo/adresa; místo trvalého pobytu fyz. osoby - kraj                                                         6716 non-null   string
 7   C/CH - datová schránka, má-li ji subjekt zřízenou                                                                    44 non-null     string
 8   D - předmět činnosti                                                                                                 6682 non-null   string
 9   E - právní forma                                                                                                     146 non-null    string
 10  I - NÁZEV KNIHOVNY                                                                                                   6716 non-null   string
 11  R - EVIDENČNÍ ČÍSLO KNIHOVNY                                                                                         6716 non-null   int64
 12  J - druh knihovny                                                                                                    6716 non-null   string
 13  Kategorie - pomocný sloupec                                                                                          6522 non-null   string
 14  K - adresa knihovny: ulice                                                                                           6716 non-null   string
 15  K - adresa knihovny: PSČ                                                                                             6716 non-null   string
 16  K - adresa knihovny: město                                                                                           6716 non-null   string
 17  K - adresa knihovny: okres                                                                                           6716 non-null   string
 18  K - adresa knihovny: kraj                                                                                            6716 non-null   string
 19  M - emailový kontakt na autora záznamu                                                                               75 non-null     string
 20  N - e-mailový kontakt na knihovnu                                                                                    6106 non-null   string
 21  O - odkaz na webovou stránku knihovny, respektive odkaz na informace o knihovně na webových stránkách provozovatele  491 non-null    string
 22  P - provozní doba knihovny                                                                                           6129 non-null   string
 23  Q - další informace                                                                                                  2 non-null      string
 24  X - sigla                                                                                                            6161 non-null   string
 25  S - datum vytvoření záznamu                                                                                          6716 non-null   datetime64[ns]
 26  T - datum evidence knihovny                                                                                          6716 non-null   datetime64[ns]
 27  XXT - schvalovatel záznamu                                                                                           6716 non-null   string
 28  U - datum aktualizace záznamu                                                                                        1014 non-null   datetime64[ns]
 29  XXU - schvalovatel aktualizace záznamu                                                                               1006 non-null   string
 30  aktivní / zrušená (vyřazená z evidence)                                                                              6716 non-null   string
 31  V - datum vyřazení                                                                                                   669 non-null    datetime64[ns]
 32  XXV - vyřadil z evidence                                                                                             5839 non-null   string
 33  W - důvod vyřazení z evidence                                                                                        11 non-null     string
 34  Y - číslo jednací                                                                                                    6664 non-null   string
 35  Poznámka                                                                                                             450 non-null    string
dtypes: datetime64[ns](4), int64(2), string(30)
memory usage: 1.8 MB

## Adjust column names

In [31]:
# remove Slavic diacritics to ensure interoperability

def normalise(name: str) -> str:
  name = str(name)
  name = unicodedata.normalize('NFKD', name)
  name = ''.join([c for c in name if not unicodedata.combining(c)])
  return name

original_col_names = df.columns  # save original column names
df.columns = df.columns.map(lambda x: normalise(x))  #.lower().replace('-', '').replace('  ', '_').replace(' ', '_'))

# it can also be useful to shorten the column names, remove the whitespace, ...

## Save the data

In [32]:
df.to_csv('cleaned_data.csv', index=False)